/*
    Folha de estilo do site One Page HTML5 e CSS3
    html5css3.com.br
    @author Professor José de Assis
    joseassis.com.br
*/

/* Importação (Google Fonts) */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* CSS Reset */
* {
  margin: 0;
  border: 0;
  padding: 0;
}



body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

/*Layout  */
.Container {
  margin: 0 auto;
  background-color: bisque;
}

/*Smart Phone Portrait >>>>>>>>>>>>*/

/*Smart Phone Landscape*/

@media (min-width: 576px){
  body{
    background-color: #0ff;
  }
  .Container {
    max-width: 540px;
  }
}

/*Tablet Portrait*/
@media (min-width: 768px) {
  body {
    background-color: #ff0;
  }
    .Container {
      max-width: 720px;
    }
}

/*Tablet Landscape*/
@media(min-width:992px){
  body{
    background-color: orangered;
  }
    .Container {
      max-width: 960px;
    }
}

/*PC */
@media(min-width:1200px){
  body{background-color: #f00;
  }
    .Container {
      max-width: 1140px;
    }
}